html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.customButton {
  width:180px;
  height:50px;
  background-color: #cf09f7;
  border: 3px solid rgb(5, 5, 5);
  color: #FFFF;
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.resetButton {
  width:60px;
  height:60px;
  background-image: url('assets/reset btn.png');
  background-size: cover;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
.menuButton {
  width:60px;
  height:60px;
 
  background-size: cover;
  border-radius: 80px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  outline: none;
}
.customButton {
  width:100px;
  height:50px;
  background-image: url('assets/start_btn0.png');
  background-size: cover;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}